# Arquivos de configuração e secrets
.env
.env.local
frontend/.env.local

# Node e Next.js
node_modules/
frontend/node_modules/
.next/
frontend/.next/
out/

# Python
__pycache__/
*.pyc

# Docker
*.log